package taskbar

templ TaskbarTemplate() {
	<div>
		<style> me { position: sticky; top: 0; display: flex; height: 5rem; justify-content: space-between; background-color: var(--surface); } </style>
		<div>
			logo
		</div>
		<div>
			Mittelteil wuhuu
		</div>
		<div>
			Profil oder so
		</div>
	</div>
}
